Repository ncdulo/word_tools, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, repo, tests, packaging

Issue #2 -- until fixed, allow test failure
  tests/test_lookup.py
Labels: tests

Implement basic factory/provider pattern
  word_tools/__init__.py
  word_tools/generic_provider.py
  word_tools/lookup_provider.py
  word_tools/merriam_provider.py
  word_tools/object_factory.py
  word_tools/stoopid_provider.py
  word_tools/transform_provider.py
  word_tools/urban_provider.py
Labels: none

Prefer specific provider over generic provider
  word_tools/__init__.py
Labels: none

Update `url_to_soup` tests for new module layout
  tests/test_lookup.py
Labels: tests

Update import style now, reduce code later
  tests/test_lookup.py
Labels: tests

Fix `test_lookup_limit`
  tests/test_lookup.py
Labels: tests

Fix final tests in `test_lookup.py`
  tests/test_lookup.py
Labels: tests

Final update to tests -- fix stoopid
  tests/test_transform.py
Labels: tests

Update `cli` submodule. Restore functionality
  word_tools/cli/cli.py
Labels: none

Remove original files no longer in use
  word_tools/lookup.py
  word_tools/transform.py
Labels: none

Fix stoopid. Learn importance of test coverage.
  word_tools/cli/cli.py
Labels: none

Docstring overhaul. Remove argument from provider.
  word_tools/__init__.py
  word_tools/generic_provider.py
  word_tools/lookup_provider.py
  word_tools/merriam_provider.py
  word_tools/object_factory.py
  word_tools/stoopid_provider.py
  word_tools/transform_provider.py
  word_tools/urban_provider.py
Labels: none

Code lint, import tidy
  tests/test_lookup.py
  word_tools/lookup_provider.py
  word_tools/stoopid_provider.py
  word_tools/transform_provider.py
Labels: tests

Update CHANGELOG
  CHANGELOG.md
Labels: documentation

Fix typo in URL
  CHANGELOG.md
Labels: documentation

Include known issue: wikipedia no longer works
  CHANGELOG.md
Labels: documentation

Stub out `WikiProvider`
  word_tools/__init__.py
  word_tools/wiki_provider.py
Labels: none

Include `pymediawiki` module
  requirements.txt
  requirements_dev.txt
Labels: packaging

Implement `WikiProvider`
  word_tools/wiki_provider.py
Labels: none

Hello Disambiguation, my old friend.
  word_tools/wiki_provider.py
Labels: none

Fix `test_wikipedia` -- it works!
  tests/test_lookup.py
Labels: tests

Interactive staging misadventure. Pre-merge lint.
  word_tools/wiki_provider.py
Labels: none

Adjust bounds check. Add docstrings.
  word_tools/wiki_provider.py
Labels: none

Add missing `pymediawiki` dependency
  setup.py
Labels: packaging

Version bump, CHANGELOG update
  CHANGELOG.md
  setup.py
Labels: documentation, packaging

One entry-point to rule them all.
  setup.py
  word_tools/__main__.py
Labels: packaging

Add lookup command
  word_tools/__main__.py
Labels: none

Add transform command
  word_tools/__main__.py
Labels: none

Re-design CLI arguments
  word_tools/__main__.py
Labels: none

Comments: Notes for improvement.
  word_tools/__main__.py
  word_tools/lookup_provider.py
Labels: none

Remove old entry points.
  setup.py
Labels: packaging

Update `test_cli` to use new CLI
  tests/test_cli.py
Labels: tests

Remove original CLI sources.
  word_tools/cli/__init__.py
  word_tools/cli/cli.py
Labels: none

Update `README.md`, `CONTRIBUTING.md`
  CONTRIBUTING.md
  README.md
Labels: documentation

Deactivation Periodic Labeller
  .github/workflows/labeler.yml
Labels: repo

.github/labeler.yml:

# Pull Request labeler configuration
# Not to be confused with `labels.yml` which contains the actual labels
#
# Format:
# [label_name]:
#   - [file paths/globs]

# Note: There are no rules for the main source files!
# This is intended, for now. Consideration will be given on how to
# handle these as we determine how everything is working together.
# I may set up a generic rule to apply a 'triage' label to everything
# not labeled by our rules.

documentation:
  - '*.md' # Begins with a special char (*), so much be in quotes
  - doc/*
  - LICENSE

repo:
  - .github/*
  - .github/**/*
  - .gitignore
  - .travis.yml

tests:
  - tests/*

packaging:
  - MANIFEST.in
  - requirements.txt
  - requirements_dev.txt
  - setup.py
